body .shell-main {
  width: 100%;
  height: auto;
  position: relative;
  transition: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

body .shell-main-nav {
  width: 100%;
  height: 60px;
  position: sticky;
  z-index: 999;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 18vh;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(13px);
}

body .shell-main-nav .logo {
  width: 220px;
  height: 100%;
  position: absolute;
  left: 5%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

body .shell-main-nav .logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

body .shell-main-nav .logo span {
  font: 100 22px 'font';
  letter-spacing: 2px;
}

body .shell-main-nav ul {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 5%;
}

body .shell-main-nav ul .nav-box {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 115px;
  height: 5px;
  border-radius: 2px;
  background-color: #b444ff;
  z-index: -999;
  transition: .5s;
}

body .shell-main-nav ul li {
  width: 150px;
  text-align: center;
}

body .shell-main-nav ul li a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
}
body .shell-main-nav ul li:nth-child(1):hover~.nav-box {
  left: 0px;
  background-color: red;
}
body .shell-main-nav ul li:nth-child(2):hover~.nav-box {
  left: 120px;
  background-color: red;
}

body .shell-main-nav ul li:nth-child(3):hover~.nav-box {
  left: 240px;
  background-color: #8da1f8;
}

body .shell-main-nav ul li:nth-child(4):hover~.nav-box {
  left: 360px;
  background-color: #ffb1b1;
}

body .shell-main-nav ul li:nth-child(5):hover~.nav-box {
  left: 480px;
  background-color: #7df88e;
}
/* media */
@media (max-width:768px) {
  body .shell-main-nav ul {
      transform: scale(.7);
      right: -60px;
      top: 2px;
  }
}

@media (max-width:600px) {
  body .shell-main-nav .logo {
      display: none;
  }

  body .shell-main-nav ul {
      transform: scale(.6);
      right: -130px;
  }
}